path:
{% for farm_xxhash in attached_farm_xxhashes %}
- {{ mount_dir_path }}/farm-{{ farm_xxhash }}
{% endfor %}
minerName: xch-{{ ansible_user }}-{{ node_id }}
apiKey: {{ hpool_api_key }}
cachePath: ""
deviceId: ""
extraParams: {}
log:
  lv: info
  path: {{ logs_dir_path }}/hpool
  name: miner
url:
  info: ""
  submit: ""
scanPath: true
scanMinute: 30
