[Unit]
Description=Chia Harvest Manager
Wants=network-online.target
After=network.target network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
User={{ ansible_user }}
Group={{ ansible_user }}
WorkingDirectory={{ chia_harvest_manager_install_path }}
ExecStart=/usr/bin/screen -dmS chia-harvest-manager bash -c "{{ bin_dir_path }}/collect-harvester-garbage; /usr/bin/harvest-manager start; /usr/bin/harvest-manager view"

[Install]
WantedBy=multi-user.target
