#!/bin/sh

cd "{{ chia_harvest_manager_install_path }}"

running_job_pids=$({{ chia_harvest_manager_install_path }}/venv/bin/python manager.py json | jq .jobs[][4])
for job in $running_job_pids; do
  kill -9 $job
done

available_tmp_directories=$(cat {{ chia_harvest_manager_install_path }}/config.yaml | yq .jobs[].temporary_directory -r)
for tmp_dir in $available_tmp_directories; do
  find "${tmp_dir}" -mindepth 1 -maxdepth 1 -exec rm -r -- {} +
done
