#!/bin/bash

function help {
  cat << EOF
Run a Distributed DCGAN experiment
usage: $0 [OPTIONS]
    -h --help            Show this message
    -m --main-node-ip    Defines the main-node IP address
    -n --num-nodes       Defines the number of nodes
EOF
}

