[Unit]
Description=Chiabot
Wants=network-online.target
After=network.target network-online.target
StartLimitIntervalSec=0

[Service]
Type=forking
Restart=always
RestartSec=1
User={{ ansible_user }}
Group={{ ansible_user }}
WorkingDirectory={{ chiabot_install_path }}
ExecStart=/usr/bin/screen -dmS chiabot bash -c "{{ chiabot_install_path }}/chiabot"
ExecStop=/usr/bin/screen -S chiabot -X quit

[Install]
WantedBy=multi-user.target
