[
  {
    "Name": "xch-{{ ansible_user }}-{{ node_id }}",
    "Currency": "BRL",
    "Show Farmed XCH": true,
    "Show Wallet Balance": false,
    "Block Notifications": true,
    "Plot Notifications": true,
    "Hard Drive Notifications": true,
    "Offline Notifications": true,
    "Farm Status Notifications": true,
    "Parse Logs": false,
    "Number of Discord Users": 1,
    "Public API": false,
    "Swar's Chia Plot Manager Path": "{{ src_dir_path }}/chia-harvest-manager",
    "chiaPath": "{{ src_dir_path }}/chia-blockchain",
    "HPool Directory": "{{ lib_dir_path }}/chia-farmer"
  }
]
