[Unit]
Description=Starts Chia Node
Wants=network-online.target
After=network.target network-online.target
StartLimitIntervalSec=0

[Service]
Type=forking
Restart=always
RestartSec=1
User={{ ansible_user }}
Group={{ ansible_user }}
ExecStart=/usr/bin/env PATH={{ chia_install_path }}/venv/bin:$PATH chia start all
ExecStop=/usr/bin/env PATH={{ chia_install_path }}/venv/bin:$PATH chia stop all -d

[Install]
WantedBy=multi-user.target
