[Unit]
Description=Starts Chia plotter
Wants=network-online.target
After=network.target network-online.target
StartLimitIntervalSec=0

[Service]
Type=forking
Restart=always
RestartSec=1
User={{ ansible_user }}
Group={{ ansible_user }}
WorkingDirectory={{ chia_plot_manager_install_path }}
ExecStart={{ bin_dir_path }}/plotter-start
ExecStop={{ bin_dir_path }}/plotter-stop

[Install]
WantedBy=multi-user.target
