[Unit]
Description=Chia Plotter
Wants=network-online.target
After=network.target network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
User={{ ansible_user }}
Group={{ ansible_user }}
WorkingDirectory={{ chia_plot_manager_install_path }}
ExecStart=/usr/bin/screen -dmS chia-plotter bash -c "{{ bin_dir_path }}/collect-plotter-garbage; {{ chia_plot_manager_install_path }}/venv/bin/python {{ chia_plot_manager_install_path }}/manager.py start; {{ chia_plot_manager_install_path }}/venv/bin/python {{ chia_plot_manager_install_path }}/manager.py view"

[Install]
WantedBy=screen.target
